.nav-container {
  position: relative;
}

.nav {
  @include nav-button;
  vertical-align: middle;
  background-color: $lightest;
  width: 18em;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  padding: 0;
  ul {
    font-size: 1.5em;
    text-align: center;
    margin-top: 6em;
  }

  li {
    margin: .5em;
    padding: .25em;
  }

}
