// VARIABLES

// Colors

$primary: #0093A0;
$accent: #D75F74;
$highlight: #EAB98C;

$darkest: #000;
$dark: #666;
$light: #DDD;
$lightest: #fff;

// Fonts

$primary-font: "ASAP", "Helvetica", "Ariel", sans-serif;
$secondary-font: "Racing Sans One", "Georgia", "Times New Roman", serif;

// Other
